@media all and (max-width: 1000px) {
  section.boxes {
    flex-wrap: wrap;
  }
}



section.articles, section.boxes {
  display: flex;
}

div.box:nth-child(3) {
  background: red;
}


div.box {
  width: 100%;
  min-height: 150px;
  border: 1px solid;
  margin: 3%; 
}


article {
  padding: 0 3%;
  text-align: justify;
  font-family: Verdana, sans-serifl;
}

nav a:hover {
  background: #78be14;
}

nav a {
  text-decoration: none;
  background: #A1D15B;
  color: white;
  padding: 20px 5px;
  display: block;
  text-align: center;
}

nav li {
  flex: 1;
}




body {
  background-color: #78be14;  
  margin: 0 auto;
}

main {
  max-width: 980px;
  background-color: rgb(255 255 255);
  margin: 0 auto;
  padding: 5px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}